# Ignore contents of data and results, but keep folder structure
data/*
!data/**/.gitkeep

results/*
!results/**/.gitkeep

# macOS / system files
.DS_Store
Icon
*.icloud

# R / RStudio
.Rproj.user/
.Rhistory
.Rapp.history

# Project-specific history files
code/.Rhistory

# renv (reproducibility setup)
renv/library/

# Logs and temporary files
*.log
*.tmp