# Ignore entire data and results directories
data/
results/

# macOS / system files
.DS_Store
Icon
*.icloud

# R / RStudio
.Rproj.user/
.Rhistory
.Rapp.history
.Rprofile

# Project-specific history files
code/.Rhistory

# renv (reproducibility setup)
renv/library/

# Logs and temporary files
*.log
*.tmp